/* You can add global styles to this file, and also import other style files */

.button {
  background: linear-gradient(#eee, #ccc);
  border: 1px solid #999;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #888;
  //@include border-radius(3px);
  //@include box-shadow(white 0 1px 0 inset, rgba(black, 0.1) 0 1px 0 0);
  color: #333;
  cursor: pointer;
  padding: 4px 10px 5px;

  &:hover {
    background: linear-gradient(#fff, #ddd);
    color: #111;
  }
}
