<header class="header">
  <div class="header__brand">
    <h1>Natasha Gaffer <span class="header__subtitle">Web Application Developer</span></h1>
  </div>
  <div class="header__contact">
    <ul>
      <li><a href="tel:507-581-3719">Phone: USA +1 507-581-3719</a></li>
      <li><a href="mailto:ngaffer@gmail.com">Email: ngaffer@gmail.com</a></li>
    </ul>
  </div>
  <div class="header__social">
    <ul>
      <li><a href="https://github.com/ngaffer/ngaffer/commits/master">Natasha on GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/natashagaffer/">Natasha on Linkedin</a></li>
      <li><a href="https://twitter.com/NatashaGaffer">Natasha on Twitter</a></li>
      <li><a href="http://instagram.com/uprootandroam">Natasha on Instagram</a></li>
    </ul>
  </div>
</header>
