<header class="global-header">
  <h1>Natasha Gaffer <span class="subtitle">Web Application Developer</span></h1>
  <div class="contact">
    <ul>
      <li><a href="tel:507-581-3719">Phone: 507-581-3719</a></li>
      <li><a href="mailto:ngaffer@gmail.com">Email: ngaffer@gmail.com</a></li>
    </ul>
  </div>
  <div class="social">
    <ul>
      <li><a href="https://github.com/ngaffer/ngaffer/commits/master">Natasha on GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/natashagaffer/">Natasha on Linkedin</a></li>
      <li><a href="https://twitter.com/NatashaGaffer">Natasha on Twitter</a></li>
      <li><a href="http://instagram.com/uprootandroam">Natasha on Instagram</a></li>
    </ul>
  </div>
</header>
