@import 'app-typography';

.experience {
  display: flex;
  flex-flow: row nowrap;
}

.experience__headlines {
  text-transform: uppercase;
  flex: 0 1 500px;
}

.experience__title,
.experience__subtitle {
  color: #ff0000;
  font-weight: $font-weight-bold;
  margin: 0;
}

.experience__company {
  color: #ff0000;
  font-weight: $font-weight-normal;
  margin: 0;
}

.experience__duration {
  font-weight: $font-weight-normal;
  margin: 0;
}

.experience__description {
  flex: 1 1 auto;
}

.experience__links {
  flex: 0 1 auto;
}
